@import "../../theme.global.scss";
.navbar {
  background-color: $white;
}

.navbar_link {
  font-family: $primary-font;
  font-size: $font-size-mid;
  line-height: $header-line-height;
  color: $primary-color;
}

.navbar_link:hover {
  color: $decline-color;
}
