@import "../../theme.global.scss";

.cart {
  min-width: 400px;
  min-height: 300px;
  z-index: 10;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  right: 0px;
}

@media only screen and (min-width: 400px) {
  .cart {
    width: 100%;
    min-width: 400px;
    max-width: 768px;
  }
}

@media only screen and (min-width: 769px) {
  .cart {
    width: 100%;
    min-width: 400px;
    max-width: 400px;
  }
}

.image {
  max-height: 64px;
  max-width: 64px;
}

.icon {
  float: right;
}
