{
  "presets": ["env", "react"],
  "env": {
    "development": {},
    "production": {},
    "test": {
      "presets": [
        "env",
        "react",
        ["next/babel", { "preset-env": { "modules": "commonjs" } }]
      ]
    }
  }
}
