// Google Fonts
@import url("http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700");

// Font Variables
$primary-font: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial,
  sans-serif;
$secondary-font: "Open Sans", sans-serif;
$font-size-major: 37px;
$font-size-minor: 18px;
$font-size-mid: 16px;
$font-size-description: 14px;
$header-line-height: 55px;

//Color Variables
/* Coolors Exported Palette - coolors.co/d83636-ddd2d2-f2b0b0-8c8585-b7aeae */
/* RGB */
$primary-color: rgba(216, 54, 54, 1);
$secondary-color: rgba(221, 210, 210, 1);
$confirm-color: rgba(242, 176, 176, 1);
$decline-color: rgb(74, 74, 74);
$neutral-color: rgba(183, 174, 174, 1);
$white: rgba(255, 255, 255, 255);
$black: rgba(0, 0, 0, 255);
