@import "../../theme.global.scss";

.card {
  border: 0px;
  margin-bottom: 10px;
}

.card:hover {
  color: $primary-color;
}

.cardImage {
  min-height: 164px;
  max-height: 224px;
}

.cardBody {
  height: 190px;
  overflow: hidden;
}

.cardTitle {
  padding: auto;
  text-align: center;
  font-size: $font-size-mid;
  font-family: $primary-font;
  height: 60px;
  overflow: hidden;
}

.cardText {
  font-family: $primary-font;
  font-size: $font-size-minor;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
